.sidebar {
  width: 250px;
  min-height: 100vh;
  background-color:#d2d2d2;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  color: #000000;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  padding: 12px 15px;
  margin-bottom: 10px;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-menu li a {
  text-decoration: none;
  color: #111111;
  display: block;
  font-size: 16px;
}

.sidebar-menu li:hover,
.sidebar-menu li a:hover {
  background-color: #3e3e50;
  color: #00ab57;
}
