/* Layout */

.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background-color: #f9fafb;
}

.dashboard-main {
  flex: 1;
  padding: 20px;
  overflow-x: auto;
  background-color: #ffffff;
  color: #1f2937;
}

.dashboard-header {
  background-color: transparent;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-header h1 {
  margin: 0;
  font-size: 24px;
  color: #111827;
}

.user-info {
  font-size: 14px;
  color: #6b7280;
}

/* Chart Section */
.chart-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: space-between;
}

.chart-box {
  flex: 1 1 calc(50% - 20px);
  min-width: 300px;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.chart-title {
  margin-bottom: 15px;
  font-size: 18px;
  color: #1f2937;
  text-align: center;
}

.purchase-history {
  padding: 20px;
}

.section-title {
  margin-bottom: 15px;
  font-size: 18px;
  color: #1f2937;
}

.purchase-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  color: #1f2937;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.purchase-table th,
.purchase-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

.purchase-table th {
  background-color: #f3f4f6;
  color: #374151;
  font-weight: 600;
}

.status {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: center;
}

.status.delivered {
  background-color: #10b981;
  color: #ffffff;
}

.status.pending {
  background-color: #f59e0b;
  color: #ffffff;
}

.status.shipped {
  background-color: #3b82f6;
  color: #ffffff;
}
